In [71]:
import numpy as np
import pandas as pd
import cv2

In [72]:
class_map = pd.read_csv('data/class_map.csv')
class_map.head()

  component_type  label component
0  grapheme_root      0         ং
1  grapheme_root      1         ঃ
2  grapheme_root      2         অ
3  grapheme_root      3         আ
4  grapheme_root      4         ই

In [73]:
train_df = pd.read_csv('data/train.csv')
train_df.head()

  image_id  grapheme_root  vowel_diacritic  consonant_diacritic grapheme
0  Train_0             15                9                    5   ক্ট্রো
1  Train_1            159                0                    0        হ
2  Train_2             22                3                    5     খ্রী
3  Train_3             53                2                    2     র্টি
4  Train_4             71                9                    5     থ্রো

In [74]:
train_df[['grapheme_root', 'vowel_diacritic', 'consonant_diacritic']] = train_df[['grapheme_root', 'vowel_diacritic', 'consonant_diacritic']].astype('uint8') # to save memory

In [75]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200840 entries, 0 to 200839
Data columns (total 5 columns):
image_id               200840 non-null object
grapheme_root          200840 non-null uint8
vowel_diacritic        200840 non-null uint8
consonant_diacritic    200840 non-null uint8
grapheme               200840 non-null object
dtypes: object(2), uint8(3)
memory usage: 3.6+ MB

In [76]:
train_df.drop('grapheme', axis= 1, inplace= True)

In [77]:
train_df.head()

  image_id  grapheme_root  vowel_diacritic  consonant_diacritic
0  Train_0             15                9                    5
1  Train_1            159                0                    0
2  Train_2             22                3                    5
3  Train_3             53                2                    2
4  Train_4             71                9                    5

In [78]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200840 entries, 0 to 200839
Data columns (total 4 columns):
image_id               200840 non-null object
grapheme_root          200840 non-null uint8
vowel_diacritic        200840 non-null uint8
consonant_diacritic    200840 non-null uint8
dtypes: object(1), uint8(3)
memory usage: 2.1+ MB

In [79]:
df = pd.read_parquet('raw_data/train_image_data_0.parquet')
df.head()

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Train_0,254,253,252,253,251,252,253,251,251,...,253,253,253,253,253,253,253,253,253,251
1,Train_1,251,244,238,245,248,246,246,247,251,...,255,255,255,255,255,255,255,255,255,254
2,Train_2,251,250,249,250,249,245,247,252,252,...,254,253,252,252,253,253,253,253,251,249
3,Train_3,247,247,249,253,253,252,251,251,250,...,254,254,254,254,254,253,253,252,251,252
4,Train_4,249,248,246,246,248,244,242,242,229,...,255,255,255,255,255,255,255,255,255,255

In [13]:
train_imgs = pd.concat([pd.read_parquet(f"dsc100719-capstone-project/data/train_image_data_{i}.parquet") for i in range(4)], ignore_index= True)
train_imgs.head()

SyntaxError: invalid syntax (<ipython-input-13-a6171762efef>, line 1)

In [69]:
import os
statinfo = os.stat('raw_data/train_image_data_0.parquet')
statinfo

os.stat_result(st_mode=33188, st_ino=1966417, st_dev=2049, st_nlink=1, st_uid=1000, st_gid=1001, st_size=1285682162, st_atime=1578418304, st_mtime=1578418965, st_ctime=1578418965)

In [ ]:
dsc100719-capstone-project/data/train_image_data_0.parquet

In [10]:
train_imgs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200840 entries, 0 to 200839
Columns: 32333 entries, image_id to 32331
dtypes: object(1), uint8(32332)
memory usage: 6.0+ GB

In [11]:
img_id = train_imgs['image_id']

In [12]:
train_imgs.drop('image_id', axis= 1, inplace= True)

In [13]:
train_imgs.loc[0]

0        254
1        253
2        252
3        253
4        251
5        252
6        253
7        251
8        251
9        253
10       254
11       253
12       253
13       253
14       254
15       253
16       252
17       253
18       253
19       253
20       253
21       252
22       252
23       253
24       253
25       252
26       252
27       253
28       252
29       252
        ...
32302    252
32303    252
32304    252
32305    252
32306    252
32307    252
32308    252
32309    252
32310    252
32311    252
32312    252
32313    252
32314    253
32315    253
32316    253
32317    253
32318    253
32319    253
32320    253
32321    253
32322    253
32323    253
32324    253
32325    253
32326    253
32327    253
32328    253
32329    253
32330    253
32331    251
Name: 0, Length: 32332, dtype: uint8

In [34]:
# resized = {}
# count = 1
# train_imgs.loc[count]
# image= cv2.resize(train_imgs.loc[train_imgs.index[0]].values.reshape(137,236),(64,64))
# resized[train_imgs.index[0]] = image.reshape(-1)
# resized

0        251
1        244
2        238
3        245
4        248
5        246
6        246
7        247
8        251
9        252
10       250
11       250
12       246
13       249
14       248
15       250
16       249
17       251
18       252
19       253
20       253
21       253
22       253
23       253
24       253
25       253
26       250
27       249
28       251
29       252
        ...
32302    255
32303    255
32304    255
32305    255
32306    255
32307    255
32308    255
32309    255
32310    255
32311    255
32312    255
32313    255
32314    255
32315    255
32316    255
32317    255
32318    255
32319    255
32320    255
32321    255
32322    255
32323    255
32324    255
32325    255
32326    255
32327    255
32328    255
32329    255
32330    255
32331    254
Name: 1, Length: 32332, dtype: uint8

In [14]:
test = train_imgs[:10]
test

,0,1,2,3,4,5,6,7,8,9,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,254,253,252,253,251,252,253,251,251,253,...,253,253,253,253,253,253,253,253,253,251
1,251,244,238,245,248,246,246,247,251,252,...,255,255,255,255,255,255,255,255,255,254
2,251,250,249,250,249,245,247,252,252,252,...,254,253,252,252,253,253,253,253,251,249
3,247,247,249,253,253,252,251,251,250,250,...,254,254,254,254,254,253,253,252,251,252
4,249,248,246,246,248,244,242,242,229,225,...,255,255,255,255,255,255,255,255,255,255
5,251,251,252,253,251,249,248,248,249,249,...,252,251,252,252,252,253,253,252,251,250
6,238,236,234,235,238,242,241,237,230,229,...,251,251,253,254,254,253,252,251,252,253
7,250,251,252,252,252,252,252,252,252,252,...,253,254,254,253,253,253,253,253,251,251
8,251,252,251,253,254,253,254,253,254,253,...,253,253,253,253,253,253,253,253,253,252
9,251,249,252,253,253,253,253,253,253,252,...,253,253,253,252,253,253,253,253,252,252

In [ ]:
resized= {}
count = 0
while len(train_imgs) > 0:
    image = cv2.resize(train_imgs.loc[count].values.reshape(137,236),(64,64))
    resized[count] = image.reshape(-1)
    train_imgs.drop(count, inplace= True)
    count += 1

del train_imgs

In [ ]:
resized

In [ ]:
train_df = pd.merge(train_df, train_imgs, on= 'image_id').drop('image_id', axis= 1)
train_df.info()

In [26]:
imgs_0.drop('image_id', axis= 1).loc[imgs_0.index[0]]

0        254
1        253
2        252
3        253
4        251
5        252
6        253
7        251
8        251
9        253
10       254
11       253
12       253
13       253
14       254
15       253
16       252
17       253
18       253
19       253
20       253
21       252
22       252
23       253
24       253
25       252
26       252
27       253
28       252
29       252
        ...
32302    252
32303    252
32304    252
32305    252
32306    252
32307    252
32308    252
32309    252
32310    252
32311    252
32312    252
32313    252
32314    253
32315    253
32316    253
32317    253
32318    253
32319    253
32320    253
32321    253
32322    253
32323    253
32324    253
32325    253
32326    253
32327    253
32328    253
32329    253
32330    253
32331    251
Name: 0, Length: 32332, dtype: uint8

In [24]:
image = cv2.resize(imgs_0.drop('image_id', axis=1).loc[imgs_0.index[0]].values.reshape(137,236),(64,64))
resized = {}
resized[imgs_0.index[0]] = image.reshape(-1)
resized = pd.DataFrame(resized).T

TypeError: Expected Ptr<cv::UMat> for argument '%s'

In [20]:
resized

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,253,252,253,253,254,253,253,253,253,253,...,252,252,252,252,253,253,253,253,253,253

In [11]:
imgs_0.iloc[0]

image_id    Train_0
0               254
1               253
2               252
3               253
4               251
5               252
6               253
7               251
8               251
9               253
10              254
11              253
12              253
13              253
14              254
15              253
16              252
17              253
18              253
19              253
20              253
21              252
22              252
23              253
24              253
25              252
26              252
27              253
28              252
             ...
32302           252
32303           252
32304           252
32305           252
32306           252
32307           252
32308           252
32309           252
32310           252
32311           252
32312           252
32313           252
32314           253
32315           253
32316           253
32317           253
32318           253
32319           253
32320           253
32321           253
32322           253
32323           253
32324           253
32325           253
32326           253
32327           253
32328           253
32329           253
32330           253
32331           251
Name: 0, Length: 32333, dtype: object

In [19]:
cv2.resize(imgs_0.drop('image_id', axis= 1).loc[imgs_0.index[0]].values.reshape(137,236),(64,64)).shape

(64, 64)

In [23]:
imgs_0.index[0]

0